# Linear Model with AIC feature engineering

The linear method makes use of the log backward return (log price difference) to predict foward return, thus decide log price.

Training Matrix:
1) without dimension reduction: feature engineering with AIC criteria
2) with PCA:

In [3]:
import os
import datetime
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 

log_pr = pd.read_pickle("../data/log_price.df")
volu = pd.read_pickle("../data/volume_usd.df")

In [ ]:
# preprocessing
def remove_outliers(dta):
    # Compute the mean and interquartile range
    mean = dta.mean(0)
    iqr = dta.quantile([0.25, 0.75], axis=0).diff().T.iloc[:, 1]
    # Replace entries that are more than 10 times the IQR
    # away from the mean with NaN (denotes a missing entry)
    mask = np.abs(dta) > mean + 10 * iqr
    treated = dta.copy()
    treated[mask] = np.nan
    return treated

In [23]:
log_pr.size-1470

2648130

In [37]:
y = log_pr.iloc[1470:]
y.size

2634900

In [33]:
log_pr.index[1470:]

DatetimeIndex(['2021-07-02 00:30:00', '2021-07-02 00:31:00',
               '2021-07-02 00:32:00', '2021-07-02 00:33:00',
               '2021-07-02 00:34:00', '2021-07-02 00:35:00',
               '2021-07-02 00:36:00', '2021-07-02 00:37:00',
               '2021-07-02 00:38:00', '2021-07-02 00:39:00',
               ...
               '2021-12-31 23:50:00', '2021-12-31 23:51:00',
               '2021-12-31 23:52:00', '2021-12-31 23:53:00',
               '2021-12-31 23:54:00', '2021-12-31 23:55:00',
               '2021-12-31 23:56:00', '2021-12-31 23:57:00',
               '2021-12-31 23:58:00', '2021-12-31 23:59:00'],
              dtype='datetime64[ns]', name='timestamp', length=263490, freq=None)

In [8]:
# data transformation
def logr(dta,min):
    '''
    Input
    dta: pandas dataframe nxp
    min: backward length
    Return
    log return: pandas dataframe
    '''
    return dta.diff(min,0).dropna()

def data_partition(dta):
    '''
    Input
    data: numpy array
    Return
    '''
    
    return x,y

In [10]:
logr(log_pr,7)

,0,1,2,3,4,5,6,7,8,9
timestamp,,,,,,,,,,
2021-07-01 00:07:00,-0.000915,0.005092,0.003826,-0.000476,-0.008566,0.000545,-0.002871,0.000117,0.004679,0.000965
2021-07-01 00:08:00,0.001864,0.002145,0.000929,-0.000737,-0.007151,-0.000172,-0.001508,0.000052,0.004220,0.000665
2021-07-01 00:09:00,0.000775,-0.001079,0.000619,-0.000366,-0.003545,-0.000924,0.000257,0.000792,0.001112,-0.000212
2021-07-01 00:10:00,0.001207,-0.000802,-0.000221,-0.000691,-0.005518,0.000478,-0.002529,0.000389,0.000696,-0.000433
2021-07-01 00:11:00,0.001722,-0.000706,-0.000304,0.001532,-0.005277,0.001118,-0.000632,0.000213,0.001142,-0.000005
...,...,...,...,...,...,...,...,...,...,...
2021-12-31 23:55:00,-0.001917,0.001370,-0.005403,-0.001475,0.000298,-0.000008,0.002091,0.000287,0.000538,0.001227
2021-12-31 23:56:00,-0.001885,0.000638,-0.001839,-0.000029,-0.001013,-0.000647,0.001990,-0.000213,0.000589,0.000136
2021-12-31 23:57:00,-0.001501,0.001143,-0.001489,-0.000092,-0.000341,-0.000867,0.001540,-0.000302,0.000288,-0.000102
2021-12-31 23:58:00,0.000246,0.000294,0.000553,-0.001035,0.000323,-0.000296,0.000751,-0.000224,-0.000242,-0.000817
2021-12-31 23:59:00,0.002151,0.001278,0.002992,-0.000186,-0.001341,-0.000596,-0.003596,-0.001285,0.000563,-0.000342